menu "MQTT SSL CONF"


choice TARGET_DEVICE
   bool "Target device type"
   default TARGET_DEVICE_ESP8266
   help
       Target device type

config TARGET_DEVICE_ESP32
   bool "ESP32"
config TARGET_DEVICE_ESP8266
   bool "ESP8266/sonoffbasic/sonoff plug/sonoff wall switch"
endchoice

choice WIFI_MODE
   bool "Wifi mode"
   default WIFI_MODE_STATION
   help
       Wifi mode, can be station on mixed
config WIFI_MODE_STATION
   bool "Wifi station only mode"
config WIFI_MODE_MIXED
   bool "Wifi mixed mode: station and AP(esp8266 only)"
endchoice

config WIFI_SSID
    string "WiFi SSID"
    default "myssid"
    help
        SSID (network name) to connect to.

config WIFI_PASSWORD
    string "WiFi Password"
    default "mypassword"
    help
        WiFi password (WPA or WPA2) to use.

config WIFI_AP_SSID
    string "WiFi AP SSID"
    default "myapssid"
    depends on WIFI_MODE_MIXED
    help
        SSID (network name) for Acces Point mode.

config WIFI_AP_PASSWORD
    string "WiFi AP Password"
    default "myappassword"
    depends on WIFI_MODE_MIXED
    help
        WiFi password for Acces Point mode.

config MQTT_USERNAME
    string "Mqtt Username"
    default "myusername"
    help
        Mqtt Username used to connect, use "use-token-auth" to enable tocken auth on IBM watson IOT platform

config MQTT_PASSWORD
    string "Mqtt Password"
    default "mypassword"
    help
        Mqtt password or tocked used to connect 

config MQTT_SERVER
    string "Mqtt server"
    default "mqttserver"
    help
        Mqtt server

config MQTT_PORT
    string "Mqtt port"
    default "8883"
    help
        Mqtt port

config MQTT_CLIENT_ID
    string "Mqtt client id"
    default "mqtt_client_id"
    help
        Mqtt client id

config MQTT_DEVICE_TYPE
    string "Mqtt device type"
    default "mqtt_device_type"
    help
        Mqtt device type(esp32/esp8266/rtc.)

config MQTT_SENSOR
    boolean "enable sensor support"
    default n
    help
        Enable sensor support

config MQTT_SENSOR_READING_PERIOD
    int "Sensor reading period"
    default 60
    depends on MQTT_SENSOR
    help
        Sensor reading period(in seconds)

config MQTT_SENSOR_DHT22
    boolean "enable DHT22 sensor"
    default n
    depends on MQTT_SENSOR
    help
        Enable temperature/humidity MQTT sensor readings

config MQTT_SENSOR_DHT22_GPIO
    int "DHT22 sensor gpio"
    default 5
    depends on MQTT_SENSOR_DHT22
    help
        Gpio port of dht22 sensor

choice MQTT_SENSOR_DHT22_TYPE
   bool "Variant of dht sensor"
    depends on MQTT_SENSOR_DHT22
   help
       Variant of dht sensor
config MQTT_SENSOR_TYPE_DHT22
   bool "DHT22"
config MQTT_SENSOR_TYPE_SI7021
   bool "SI7021"
endchoice

config MQTT_SENSOR_DHT22_SMA_FACTOR
    int "Simple moving average factor"
    default 1
    depends on MQTT_SENSOR_DHT22
    help
        Will provide temperature and humidity as simple moving average of so many measures, default 1 means no average, have to me greater that 1

config MQTT_SENSOR_DS18X20
    boolean "enable DS18X20 sensor"
    default n
    depends on MQTT_SENSOR
    help
        Enable temperature DS18X20 sensor readings

config MQTT_SENSOR_DS18X20_GPIO
    int "DS18X20 sensor gpio"
    default 5
    depends on MQTT_SENSOR_DS18X20
    help
        Gpio port of DS18X20 sensor

config MQTT_SENSOR_BME280
    boolean "enable BME280 sensor"
    default n
    depends on MQTT_SENSOR
    help
        Enable temperature/humidity/pressure MQTT sensor readings

config MQTT_SENSOR_BME280_SDA_GPIO
    int "BME280 sensor SDA GPIO"
    default 14
    depends on MQTT_SENSOR_BME280
    help
        SDA Gpio port of dht22 sensor

config MQTT_SENSOR_BME280_SCL_GPIO
    int "BME280 sensor SCL GPIO"
    default 2
    depends on MQTT_SENSOR_BME280
    help
        SCL Gpio port of dht22 sensor

config MQTT_RELAYS_NB
    int "number of relays to control"
    default 0
    range 0 4
    help
        number of relays to control

config MQTT_RELAYS_NB0_GPIO
    int "relay 0 gpio port"
    depends on MQTT_RELAYS_NB > 0
    default 4
    help
        relay 0 gpio port

config MQTT_RELAYS_NB1_GPIO
    int "relay 1 gpio port"
    depends on MQTT_RELAYS_NB > 1
    default 14
    help
        relay 1 gpio port

config MQTT_RELAYS_NB2_GPIO
    int "relay 2 gpio port"
    depends on MQTT_RELAYS_NB > 2
    default 12
    help
        relay 2 gpio port

config MQTT_RELAYS_NB3_GPIO
    int "relay 3 gpio port"
    depends on MQTT_RELAYS_NB > 3
    default 13
    help
        relay 3 gpio port

config MQTT_STATUS_LED_GPIO
    int "internal LED status GPIO"
    default 16
    help
        internal LED status GPIO


config MQTT_SWITCHES_NB
    int "number of switches to control"
    default 0
    range 0 4
    help
        number of relays to control

config MQTT_SWITCHES_NB0_GPIO
    int "switch 0 gpio port"
    depends on MQTT_SWITCHES_NB > 0
    default 0
    help
        switch 0 gpio port

config MQTT_SWITCHES_NB1_GPIO
    int "switch 1 gpio port"
    depends on MQTT_SWITCHES_NB > 1
    default 9
    help
        switch 1 gpio port

config MQTT_SWITCHES_NB2_GPIO
    int "switch 2 gpio port"
    depends on MQTT_SWITCHES_NB > 2
    default 10
    help
        switch 2 gpio port

config MQTT_SWITCHES_NB3_GPIO
    int "switch 3 gpio port"
    depends on MQTT_SWITCHES_NB > 3
    default 14
    help
        switch 1 gpio port


config MQTT_OTA
    boolean "enable OTA support"
    default y
    help
        Enable OTA support

config MQTT_OPS
    boolean "enable OPS support"
    default n
    help
        Enable OPS support

config MQTT_RELAYS_NB0_GPIO
    int "relay 0 gpio port"
    depends on MQTT_RELAYS_NB > 0
    default 4
    help
        relay 0 gpio port


config MQTT_THERMOSTATS_NB
    int "number of virtual thermostats"
    default 0
    range 0 4
    help
        Number of virtual thermostats

config MQTT_THERMOSTAT_RELAY_ID
   int "Thermostat Relay Id"
   default 0
   depends on MQTT_THERMOSTATS_NB > 0
   help
       Thermostat relay id

config MQTT_THERMOSTATS_TICK_PERIOD
   int "Interval on which the thermostat action happens"
   default 60
   depends on MQTT_THERMOSTATS_NB > 0
   help
       Interval on which the thermostat action happens(in seconds)

config MQTT_THERMOSTAT_ENABLE_NOTIFICATIONS
   bool "Enable thermostat notifications"
   default n
   depends on MQTT_THERMOSTATS_NB > 0
   help
        There is partial implementation for user friendly notifications message
        to be send when thermostat is toggled on/off. Still, it seems the message
        size if to big for mqtt esp8266 stack, use this option to enable and fix it
        if needed

choice MQTT_THERMOSTAT_ID_CIRCUIT_OPTIMIZER
   bool "Id of thermostat handling circuit optimisation"
   depends on MQTT_THERMOSTATS_NB > 0
   help
       Id of thermostat handling circuit optimisation
config MQTT_NO_THERMOSTATS_TYPE_CIRCUIT
   bool "No thermostat of type water circuit"
config MQTT_THERMOSTATS_NB0_TYPE_CIRCUIT
   bool "Thermostat id 0"
config MQTT_THERMOSTATS_NB1_TYPE_CIRCUIT
   bool "Thermostat id 1"
   depends on MQTT_THERMOSTATS_NB > 1
config MQTT_THERMOSTATS_NB2_TYPE_CIRCUIT
   bool "Thermostat id 2"
   depends on MQTT_THERMOSTATS_NB > 2
config MQTT_THERMOSTATS_NB3_TYPE_CIRCUIT
   bool "Thermostat id 3"
   depends on MQTT_THERMOSTATS_NB > 3
endchoice


choice MQTT_THERMOSTATS_NB0_SENSOR_TYPE
   bool "Thermostat 0 sensor type"
   depends on MQTT_THERMOSTATS_NB > 0
   default MQTT_THERMOSTATS_NB0_SENSOR_TYPE_MQTT
   help
       Thermostat sensor type
config MQTT_THERMOSTATS_NB0_SENSOR_TYPE_MQTT
   bool "Mqtt sensor"
config MQTT_THERMOSTATS_NB0_SENSOR_TYPE_LOCAL
   bool "Local sensor"
endchoice

config MQTT_THERMOSTATS_NB0_MQTT_SENSOR_TOPIC
   string "Thermostat 0 mqtt sensor topic"
   depends on MQTT_THERMOSTATS_NB0_SENSOR_TYPE_MQTT
   default ""
   help
       Sensor topic

config MQTT_THERMOSTATS_NB0_LOCAL_SENSOR_TOPIC
   string "Thermostat 0 local sensor topic"
   depends on MQTT_THERMOSTATS_NB0_SENSOR_TYPE_LOCAL
   default ""
   help
       Sensor topic

config MQTT_THERMOSTATS_NB0_FRIENDLY_NAME
   string "Thermostat 0 friendly name"
   depends on MQTT_THERMOSTATS_NB > 0
   default "t0"
   help
       Thermostat 0 friendly name

choice MQTT_THERMOSTATS_NB1_SENSOR_TYPE
   bool "Thermostat 1 sensor type"
   depends on MQTT_THERMOSTATS_NB > 1
   default MQTT_THERMOSTATS_NB1_SENSOR_TYPE_MQTT
   help
       Thermostat sensor type
config MQTT_THERMOSTATS_NB1_SENSOR_TYPE_MQTT
   bool "Mqtt sensor"
config MQTT_THERMOSTATS_NB1_SENSOR_TYPE_LOCAL
   bool "Local sensor"
endchoice

config MQTT_THERMOSTATS_NB1_MQTT_SENSOR_TOPIC
   string "Thermostat 1 mqtt sensor topic"
   depends on MQTT_THERMOSTATS_NB1_SENSOR_TYPE_MQTT
   default ""
   help
       Sensor topic

config MQTT_THERMOSTATS_NB1_LOCAL_SENSOR_TOPIC
   string "Thermostat 1 local sensor topic"
   depends on MQTT_THERMOSTATS_NB1_SENSOR_TYPE_LOCAL
   default ""
   help
       Sensor topic

config MQTT_THERMOSTATS_NB1_FRIENDLY_NAME
   string "Thermostat 1 friendly name"
   depends on MQTT_THERMOSTATS_NB > 1
   default "t1"
   help
       Thermostat 1 friendly name

choice MQTT_THERMOSTATS_NB2_SENSOR_TYPE
   bool "Thermostat 2 sensor type"
   depends on MQTT_THERMOSTATS_NB > 2
   default MQTT_THERMOSTATS_NB2_SENSOR_TYPE_MQTT
   help
       Thermostat sensor type
config MQTT_THERMOSTATS_NB2_SENSOR_TYPE_MQTT
   bool "Mqtt sensor"
config MQTT_THERMOSTATS_NB2_SENSOR_TYPE_LOCAL
   bool "Local sensor"
endchoice

config MQTT_THERMOSTATS_NB2_MQTT_SENSOR_TOPIC
   string "Thermostat 2 mqtt sensor topic"
   depends on MQTT_THERMOSTATS_NB2_SENSOR_TYPE_MQTT
   default ""
   help
       Sensor topic

config MQTT_THERMOSTATS_NB2_LOCAL_SENSOR_TOPIC
   string "Thermostat 2 local sensor topic"
   depends on MQTT_THERMOSTATS_NB2_SENSOR_TYPE_LOCAL
   default ""
   help
       Sensor topic

config MQTT_THERMOSTATS_NB2_FRIENDLY_NAME
   string "Thermostat 2 friendly name"
   depends on MQTT_THERMOSTATS_NB > 2
   default "t2"
   help
       Thermostat 2 friendly name

choice MQTT_THERMOSTATS_NB3_SENSOR_TYPE
   bool "Thermostat 3 sensor type"
   depends on MQTT_THERMOSTATS_NB > 3
   default MQTT_THERMOSTATS_NB3_SENSOR_TYPE_MQTT
   help
       Thermostat sensor type
config MQTT_THERMOSTATS_NB3_SENSOR_TYPE_MQTT
   bool "Mqtt sensor"
config MQTT_THERMOSTATS_NB3_SENSOR_TYPE_LOCAL
   bool "Local sensor"
endchoice

config MQTT_THERMOSTATS_NB3_MQTT_SENSOR_TOPIC
   string "Thermostat 3 mqtt sensor topic"
   depends on MQTT_THERMOSTATS_NB3_SENSOR_TYPE_MQTT
   default ""
   help
       Sensor topic

config MQTT_THERMOSTATS_NB3_LOCAL_SENSOR_TOPIC
   string "Thermostat 3 local sensor topic"
   depends on MQTT_THERMOSTATS_NB3_SENSOR_TYPE_LOCAL
   default ""
   help
       Sensor topic

config MQTT_THERMOSTATS_NB3_FRIENDLY_NAME
   string "Thermostat 3 friendly name"
   depends on MQTT_THERMOSTATS_NB > 3
   default "t3"
   help
       Thermostat 3 friendly name

config MQTT_SCHEDULERS
    boolean "enable schedulers support"
    default n
    help
        Enable schedulers support


endmenu
